<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@rusty1052">
<meta name="twitter:creator" content="@rusty1052">
<meta name="twitter:domain" content="cbroderick.me">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:image" content="{{page.cover_img | prepend: site.url }}">
<meta name="twitter:description" content="{{page.og_desc}}">
<meta name="twitter:label2" content="Prodcut Type">
<meta name="twitter:data2" content="PDF A3 Sized - 2 Page Transport Map">
<meta name="twitter:label3" content="Price">
<meta name="twitter:data3" content="€5.00">
<meta name="twitter:label4" content="Prodcut Type">
<meta name="twitter:data4" content="PDF A3 Sized - 2 Page Transport Map">
<meta name="twitter:url" content="{{page.url | prepend: site.url }}" />